.body {
  position: relative;
  padding: 1rem;
  max-width: 1024px;
  font-family: var(--font-open-sans), sans-serif;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }

  & section {
    margin-bottom: 2rem;
  }
  & :global(.hash):first-child {
    display: none;
  }

  /** headers */
  & h1,
  & h2,
  & h3 {
    font-family: var(--font-oxygen), sans-serif;
    font-weight: bold;
  }

  /** Name */
  & h1 {
    font-size: 50pt;
    color: hsla(0, 0%, 37%, 1);
    margin-bottom: 0.5rem;
  }
  & h2,
  & h3 {
    & a {
      text-decoration: none;
      color: inherit;
    }
    & :global(.hash) {
      color: hsla(0, 0%, 19%, 0);
      transition: color 0.2s ease;
    }
    &:hover :global(.hash),
    & a:focus :global(.hash) {
      color: hsla(0, 0%, 19%, 1);
    }
  }
  & h2 {
    font-size: 14pt;
    font-weight: normal;
    border-bottom: 1px solid #a6a6a6;
    padding-bottom: 5px;
    padding-left: 0.5rem;
  }
  & h3 {
    font-size: 12pt;
  }
  & :global(.title) {
    border-bottom: none;
    font-size: 13pt;
  }

  /** content */
  & p,
  & li,
  & h2,
  & h3 {
    color: hsla(0, 0%, 19%, 1);
  }
  & main {
    display: grid;
    grid-template-areas: "primary" "side";
    grid-gap: 1rem;
    @media screen and (min-width: 768px) {
      grid-template-columns: 2fr 10fr;
      grid-template-areas: "side primary";
    }
    @media screen and (min-width: 768px) {
      & > * {
        padding-top: 1rem;
      }
    }
  }
  & :global(.contact),
  & :global(#Objective) {
    margin-top: 0;
  }
  & ul {
    list-style-type: "–   ";
    padding-left: 1.5rem;
    @media screen and (min-width: 768px) {
      list-style-type: "– ";
      padding-left: 40px;
    }
  }
  & aside {
    grid-area: side;

    @media screen and (min-width: 768px) {
      text-align: right;
      padding-right: 1rem;
      border-right: 1px solid #a6a6a6;
    }
    & ul,
    & :global(.education),
    & p,
    & address {
      margin: 0;
      padding-left: 0.5rem;
      @media screen and (min-width: 768px) {
        padding: 0;
      }
    }
    & li {
      list-style-type: none;
    }
    & :global(.hash):first-child {
      display: none;
    }
    @media screen and (min-width: 768px) {
      & :global(.hash):last-child {
        display: none;
      }
      & :global(.hash):first-child {
        display: inline;
      }
    }
  }
  & :global(.primary) {
    grid-area: primary;
    & :global(.position) {
      padding-left: 0.5rem;
    }
  }

  & :global(.details),
  & h3,
  & p,
  & ul {
    margin-top: 0;
  }
  & :global(.details),
  & h3,
  & p {
    margin-bottom: 0.5rem;
  }
  & :global(.objective) p {
    padding-left: 0.5rem;
  }
}
